In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mao,39.8885,4.2658,55.96,76,75,4.61,ES,2022-02-10 16:24:11
1,1,Butaritari,3.0707,172.7902,81.18,79,33,16.93,KI,2022-02-10 16:23:09
2,2,Caravelas,-17.7125,-39.2481,86.90,55,30,11.14,BR,2022-02-10 16:25:59
3,3,Mataura,-46.1927,168.8643,59.49,98,56,1.74,NZ,2022-02-10 16:23:09
4,4,Honningsvag,70.9821,25.9704,18.93,72,50,14.90,NO,2022-02-10 16:25:59

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Butaritari,3.0707,172.7902,81.18,79,33,16.93,KI,2022-02-10 16:23:09
2,2,Caravelas,-17.7125,-39.2481,86.90,55,30,11.14,BR,2022-02-10 16:25:59
6,6,Carnarvon,-24.8667,113.6333,78.87,78,38,8.05,AU,2022-02-10 16:26:00
17,17,Atuona,-9.8000,-139.0333,77.05,81,16,15.88,PF,2022-02-10 16:19:02
19,19,Karratha,-20.7377,116.8463,84.70,73,7,9.62,AU,2022-02-10 16:23:36
20,20,Mahebourg,-20.4081,57.7000,79.25,83,40,3.44,MU,2022-02-10 16:26:02
24,24,Payyannur,12.1000,75.2000,75.43,82,63,7.00,IN,2022-02-10 16:26:03
26,26,Arraial Do Cabo,-22.9661,-42.0278,75.16,78,100,4.61,BR,2022-02-10 16:23:00
28,28,Vaini,-21.2000,-175.2000,78.96,94,75,10.36,TO,2022-02-10 16:26:04
29,29,Puerto Ayora,-0.7393,-90.3518,82.36,82,89,5.99,EC,2022-02-10 16:26:05

In [27]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       2
Date          0
dtype: int64